/* LE Guidlines 

* Custom layout for Standards site. 

*/


body {font-family: 'PT Sans', sans-serif;position: relative;}
a{}
p{color: rgba(65,65,65,1);font-size: 15px;line-height: 145%;margin-bottom: 15px;}

/* Helpers
---------------------------------------------------------------------------- */
.wrap {background: rgba(168, 168, 168, 0.2);padding: 20px;margin-top: 20px;}

/* Header
---------------------------------------------------------------------------- */
#header {color:#fff;}
#header h1 {color: #fff;font-size: 16px;padding: 18px 0 15px;margin: 0;}
#header .navbar-nav>li>a:hover {border-bottom:2px solid #337ab7;background-color:#333;}
#header .navbar-nav>li>a {border-bottom:2px solid #333;color:#fff;cursor:pointer;}

/* Sections
---------------------------------------------------------------------------- */
h1 {font-family:"Helvetica";font-size: 2.8em;font-weight: 100;margin: 0 0 36px 0;padding-top: 20px;color: #333;}
h2 {font-family:"Helvetica"; color:#B0B0B0;font-size: 18px;margin-bottom: 10px;}

.buttons-section {height: 100%;padding-top: 50px;background: #fff;margin-bottom: 60px;}
.colors-section {height: 100%;padding-top: 50px;background: #fff;margin-bottom: 60px;}
.fonts-section {height: 100%;padding-top: 50px;background: #fff;margin-bottom: 60px;}
.grids-section {height: 100%;padding-top: 50px;background: #fff;margin-bottom: 60px;}
.icons-section {height: 100%;padding-top:50px;background: #fff;margin-bottom: 60px;}
.intro-section {height: 100%;padding-top: 50px;background: #fff;margin-bottom: 60px;}
.modals-section {height: 100%;padding-top: 50px;background: #fff;margin-bottom: 60px;}
.navigations-section {height: 100%;padding-top: 50px;background: #fff;margin-bottom: 60px;}
.notifications-section {height: 100%;padding-top: 50px;background: #fff;margin-bottom: 60px;}
.paging-section {height: 100%;padding-top: 50px;background: #fff;margin-bottom: 60px;}
.tables-section {height: 100%;padding-top: 50px;background: #fff;margin-bottom: 60px;}

/* Headings
---------------------------------------------------------------------------- */
h1,h2,h3 {font-weight: normal;}


.sg-customer-info h1 {color: #447DB3;font-size: 26px;font-weight: bold;margin:3px 0;border-bottom:none;}
.sg-customer-info h2 {color: #000000;font-size: 16px;font-weight: bold;margin:3px 0;border-bottom:none;font-family: 'PT Sans', sans-serif;}
.sg-customer-info h3 {color: #909FAC;font-size: 13px;margin:3px 0;border-bottom:none;}


/* Navigation
---------------------------------------------------------------------------- */
.list-group.panel > .list-group-item {}
.list-group-submenu {margin-left:20px;}
.list-group-item-success {color: #333;background-color: #EDF0F0;}
.list-group-item {border: 1px solid #E0E0E0;}
a.list-group-item-success:focus, a.list-group-item-success:hover {color: #333;background-color: #ccc;border-radius:0;}
a.list-group-item-success {color: #333;}
/* Colors
---------------------------------------------------------------------------- */
.sg-color {
  background: #fff;
  border: 1px solid #bbb;
  display: inline-block;
  height: 89px;
  margin: 0 .5em .5em 0;
  padding: 5px;
  position: relative;
  width: 89px;
}

.sg-color-swatch {
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}

.sg-color-swatch span {
  background: #000;
  background: rgba(0,0,0,.7);
  bottom: 0;
  color: #fff;
  font-size: .8em;
  margin: 0;
  opacity: 0;
  padding: 5px 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.sg-color-swatch:hover span {
  opacity: 1;
}

.sg-color--a .sg-color-swatch {background: #477DB3;}
.sg-color--b .sg-color-swatch {background: #f79720;}
.sg-color--c .sg-color-swatch {background: #f9f9f9;}
.sg-color--d .sg-color-swatch {background: #edeced;}
.sg-color--e .sg-color-swatch {background: #cbcccb;}
.sg-color--f .sg-color-swatch {background: #4c5965;}
.sg-color--g .sg-color-swatch {background: #364149;}

/* Fancy
---------------------------------------------------------------------------- */
.sg-animated {
  -webkit-transition: all 0.6s ease-out;  
     -moz-transition: all 0.6s ease-out;
      -ms-transition: all 0.6s ease-out;
       -o-transition: all 0.6s ease-out;
          transition: all 0.6s ease-out;
}



/* Icons
---------------------------------------------------------------------------- */
.sg-icons {margin: 0 -10px 20px;overflow: hidden;}
.sg-icons-list ul {padding-left: 0;list-style: none;}
.sg-icons li {float: left;width: 25%;height: 130px;padding: 10px;font-size: 10px;line-height: 1.4;text-align: center;background-color: #f9f9f9;border: 1px solid #fff;}
.sg-icons .icon {margin-top: 5px;margin-bottom: 10px;font-size: 24px;}
.sg-icons .sg-icons-class {display: block;text-align: center;word-wrap: break-word;}
.sg-icons .sg-icons-usage {display: block;text-align: center;word-wrap: break-word;font-weight:bold;}
.sg-icons .fa-lg {line-height: 1;}

@font-face {
	font-family: 'icomoon';
	src:url('custom-icons/icomoon.eot?sgoj4q');
	src:url('custom-icons/icomoon.eot?#iefixsgoj4q') format('embedded-opentype'),
		url('custom-icons/icomoon.woff?sgoj4q') format('woff'),
		url('custom-icons/icomoon.ttf?sgoj4q') format('truetype'),
		url('custom-icons/icomoon.svg?sgoj4q#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-footprints:before {content: "\e602";}
.icon-cursor:before {content: "\e603";}
/* == FYI: custom ico-moon icon classes will start with 'icon-' == */

/*:: Global Definition :: */

.tick:before {content: "\f00c";font-family: FontAwesome;font-style: normal;font-weight: normal;} 
.printExport:before {content: "\f02f";font-family: FontAwesome;font-style: normal;font-weight: normal;}
.pdfExport:before {content: "\f1c1";font-family: FontAwesome;font-style: normal;font-weight: normal;}
.xlsExport:before {content: "\f1c3";font-family: FontAwesome;font-style: normal;font-weight: normal;}
.google:before {content: "\f1a0";font-family: FontAwesome;font-style: normal;font-weight: normal;}
.yahoo:before {content: "\f19e";font-family: FontAwesome;font-style: normal;font-weight: normal;}
.icon-bing:before {content: "\e600";font-style: normal;font-weight: normal;}
.icon-impressions:before {content: "\e602";font-style: normal;font-weight: normal;}
.icon-clicks:before {content: "\e603";font-style: normal;font-weight: normal;}
.listen:before {content: "\f028";font-family: FontAwesome;font-style: normal;font-weight: normal;}
.cursor:before {content: "\e603";font-style: normal;font-weight: normal;}
.calls:before {content: "\f095";font-family: FontAwesome;font-style: normal;font-weight: normal;}
.topFilter .selected .filterIcon:before {content: "\f0de";font-family: FontAwesome;font-style: normal;font-weight: normal;}

.line-graph:before {content: "\f201";font-family: FontAwesome;font-style: normal;font-weight: normal;}
.avgPos:before {content: "\f080";font-family: FontAwesome;font-style: normal;font-weight: normal;}
.eye:before {content: "\f06e";font-family: FontAwesome;font-style: normal;font-weight: normal;}
.emails:before {content: "\f0e0";font-family: FontAwesome;font-style: normal;font-weight: normal;}
.forms:before {content: "\f022";font-family: FontAwesome;font-style: normal;font-weight: normal;}
.dollar-sign:before {content: "\f155";font-family: FontAwesome;font-style: normal;font-weight: normal;}
.ctr:before {content: "\f0a6";font-family: FontAwesome;font-style: normal;font-weight: normal;}
.pageViews:before {content: "\f06e";font-family: FontAwesome;font-style: normal;font-weight: normal;}
.filterToolTip:before {content: "\f059";font-family: FontAwesome;font-style: normal;font-weight: normal;}
.subTabToolTip:before {content: "\f059";font-family: FontAwesome;font-style: normal;font-weight: normal;}
.carrot-left {content: "\f0d9";font-family: FontAwesome;font-style: normal;font-weight: normal;}
.carrot-right {content: "\f0da";font-family: FontAwesome;font-style: normal;font-weight: normal;}
