/* LE Guidlines 

* Custom layout for Standards site. 

*/


body {background-color: #EDF0F0;font-family: 'PT Sans', sans-serif;position: relative;}
a{}
p{color: rgba(65,65,65,1);font-size: 15px;line-height: 145%;margin-bottom: 15px;}

/* Section Content Wrap
---------------------------------------------------------------------------- */
section .content-wrap {background:#fff; box-shadow: 0 0 1px 0 rgba(44, 54, 67, 0.1);position: relative;margin: 20px 0 10px;border-radius:3px;padding: 10px 35px;}
.styleguide-intro {padding: 25px;margin-bottom: 20px;}
.copy-body {color: #3b444f;}



/* Helpers
---------------------------------------------------------------------------- */
.wrap {background: rgba(168, 168, 168, 0.2);padding: 20px;margin-top: 20px;}

/* Header
---------------------------------------------------------------------------- */
#header {color:#fff;}
#header h1 {color: #fff;font-size: 16px;padding: 13px 0 15px;margin: 0;}
#header .navbar-nav>li>a {color:#fff;cursor:pointer;padding: 10px 8px 10px;}
#header .navbar-nav>li>a:hover {color:#52A1E5;background-color:#333;}

a.site-name {text-decoration: none;color:#fff;}
a.site-name:hover {color:#fff;}

/* Sections
---------------------------------------------------------------------------- */
section h1 {font-size: 24px;line-height: 1.15em;margin: 0 0 36px 0;padding-top: 20px;color: #297CBB;}
section h2 {color:#333;font-size: 18px;margin: 8px 0 13px;}
section h2.center {text-align:center;}
section p {color:#333;font-size: 14px;line-height:22px;}

section .buttons-section {padding-top: 50px;margin-bottom: 60px;}
section .colors-section {padding-top: 50px;margin-bottom: 60px;}
section .typography-section {padding-top: 50px;margin-bottom: 60px;}
section .grids-section {padding-top: 50px;margin-bottom: 60px;}
section .icons-section {padding-top:50px;margin-bottom: 60px;}
section .intro-section {padding-top: 50px;margin-bottom: 60px;}
section .modals-section {padding-top: 50px;margin-bottom: 60px;}
section .navigations-section {padding-top: 50px;margin-bottom: 60px;}
section .notifications-section {padding-top: 50px;margin-bottom: 60px;}
section .paging-section {padding-top: 50px;margin-bottom: 60px;}
section .tables-section {padding-top: 50px;margin-bottom: 60px;}

/* Containers
---------------------------------------------------------------------------- */

section .content-icon {position:relative;margin: -8px -32px;}
section .content-icon i.fa-question-circle {position:absolute;font-size:31px;color:#BEBEBE;}
section h2 i {position:relative;vertical-align: middle;}
section i.fa-question-circle {font-size: 31px;color: #BEBEBE;padding: 0px 4px 3px;}

/* Headings
---------------------------------------------------------------------------- */
h1,h2,h3 {font-weight: normal;}

/* Navigation
---------------------------------------------------------------------------- */
.list-group.panel > .list-group-item {}
.list-group-submenu {margin-left:20px;}
.list-group-item-success {color: #333;background-color:#fff; /*#EDF0F0;*/}
.list-group-item {border: 1px solid #E0E0E0;}
list-group-item .nav-item .child {background:#e0e0e0;}
a.list-group-item-success:focus, a.list-group-item-success:hover {color: #333;background-color: #ccc;border-radius:0;}
a.list-group-item-success {color: #333;}

/* Colors
---------------------------------------------------------------------------- */
.sg-color {
  background: #fff;
  border: 1px solid #bbb;
  display: inline-block;
  height: 89px;
  margin: 0 .5em .5em 0;
  padding: 5px;
  position: relative;
  width: 89px;
}

.sg-color-swatch {
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}

.sg-color-swatch span {
  background: #000;
  background: rgba(0,0,0,.7);
  bottom: 0;
  color: #fff;
  font-size: .8em;
  margin: 0;
  opacity: 0;
  padding: 5px 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.sg-color-swatch:hover span {
  opacity: 1;
}

.sg-color--a .sg-color-swatch {background: #477DB3;}
.sg-color--b .sg-color-swatch {background: #f79720;}
.sg-color--c .sg-color-swatch {background: #f9f9f9;}
.sg-color--d .sg-color-swatch {background: #edeced;}
.sg-color--e .sg-color-swatch {background: #cbcccb;}
.sg-color--f .sg-color-swatch {background: #4c5965;}
.sg-color--g .sg-color-swatch {background: #364049;}
.sg-color--h .sg-color-swatch {background: #91a0ad;}
.sg-color--i .sg-color-swatch {background: #AFADAD;}

/* Fonts
---------------------------------------------------------------------------- */
section .content-wrap.typography {min-height: 230px;}

section .typography-section .headings h1 {color: #447DB3;font-size: 26px;margin:3px 0;border-bottom:none;}
section .typography-section .headings h2 {font-family: 'pt_sansbold', sans-serif;color: #477DB3;font-size: 16px;text-transform: uppercase;border-bottom:none;margin: 10px 0;font-family: 'PT Sans', sans-serif;text-align:left;}
section .typography-section .headings h3 {color: #4C5965;font-size: 16px;font-weight: bold;border-bottom:none;margin: 10px 0;}

section .typography-section .content p.table-column-heads {font-size: 14px;color: #4C5965;}
section .typography-section .content p.table-rows {font-size: 14px;color: #4C5965;}
section .typography-section .content p.selector-label {font-weight: bold;color: #4c5965;font-size: 14px;}
section .typography-section .content p.selector-content {color: #909FAC;font-size: 13px;}

section .typography-section .navigation li,
section .typography-section .links li {list-style: none;margin:13px 0;}
section .typography-section .navigation a.left-nav-parent {color: #fff;font-size: 14px;background-color: #4C5965;padding:5px;}
section .typography-section .navigation a.left-nav-parent:hover {color: #fff;text-decoration:none;cursor:pointer;}
section .typography-section .navigation a.left-nav-child {color: #CBCCCB;font-size: 14px;background: #364049;padding:5px;}
section .typography-section .navigation a.left-nav-child:hover {color: #fff;text-decoration:none;cursor:pointer;}
section .typography-section .navigation a.left-nav-child-child {color: #CBCCCB;font-size: 14px;background: #323538;padding:5px;}
section .typography-section .navigation a.left-nav-child-child:hover {color: #fff;text-decoration:none;cursor:pointer;}
section .typography-section .navigation a.header-nav-parent {color: #91a0ad;font-size: 14px;}
section .typography-section .navigation a.header-nav-parent:hover {color: #364049;text-decoration:none;cursor:pointer;}
section .typography-section .navigation a.header-nav-child {color: #91a0ad;font-size: 14px;}
section .typography-section .navigation a.header-nav-child:hover {color:#91a0ad;text-decoration:none;cursor:pointer;}

section .typography-section .links a.view-all {color: #477DB3;font-size:14px;}
section .typography-section .links a.view-all:hover {text-decoration:none;cursor:pointer;}

/* Buttons
---------------------------------------------------------------------------- */

.btn-upsell {color: #fff;background-color: #f79720;border-color: #D58016;}
.btn-upsell:hover{color: #fff;background-color: #D58016;border-color: #B36D15;}
.btn-cancel {color: #333;background-color: #fff;border-color: #ccc;}
.btn-cancel:hover {color: #333;background-color: #eee;border-color: #ccc;}
.btn-standard-dark {background-color:#737373;color:#fff;border:none;}
.btn-standard-dark:hover {background-color: #5f5e5e;color:#fff;}
.btn-standard-light {color:#737373;background-color:#e0e0e0;border:none;}
.btn-standard-light:hover {color:#737373;background-color: #C8C6C6;}


/* Fancy
---------------------------------------------------------------------------- */
.sg-animated {
  -webkit-transition: all 0.6s ease-out;  
     -moz-transition: all 0.6s ease-out;
      -ms-transition: all 0.6s ease-out;
       -o-transition: all 0.6s ease-out;
          transition: all 0.6s ease-out;
}

@media (all) {
::selection {
background-color: rgba(40, 138, 214, 0.25);
}
}


/* Icons
---------------------------------------------------------------------------- */
.sg-icons {margin: 0 -10px 20px;overflow: hidden;}
.sg-icons-list ul {padding-left: 0;list-style: none;}
.sg-icons li {float: left;width: 25%;height: 130px;padding: 10px;font-size: 10px;line-height: 1.4;text-align: center;background-color: #f9f9f9;border: 1px solid #fff;}
.sg-icons .icon {margin-top: 5px;margin-bottom: 10px;font-size: 24px;}
.sg-icons .sg-icons-class {display: block;text-align: center;word-wrap: break-word;}
.sg-icons .sg-icons-usage {display: block;text-align: center;word-wrap: break-word;font-weight:bold;}
.sg-icons .fa-lg {line-height: 1;}

@font-face {
	font-family: 'icomoon';
	src:url('custom-icons/icomoon.eot?sgoj4q');
	src:url('custom-icons/icomoon.eot?#iefixsgoj4q') format('embedded-opentype'),
		url('custom-icons/icomoon.woff?sgoj4q') format('woff'),
		url('custom-icons/icomoon.ttf?sgoj4q') format('truetype'),
		url('custom-icons/icomoon.svg?sgoj4q#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-footprints:before {content: "\e602";}
.icon-cursor:before {content: "\e603";}
/* == FYI: custom ico-moon icon classes will start with 'icon-' == */

/*:: Global Definition :: */

.tick:before {content: "\f00c";font-family: FontAwesome;font-style: normal;font-weight: normal;} 
.printExport:before {content: "\f02f";font-family: FontAwesome;font-style: normal;font-weight: normal;}
.pdfExport:before {content: "\f1c1";font-family: FontAwesome;font-style: normal;font-weight: normal;}
.xlsExport:before {content: "\f1c3";font-family: FontAwesome;font-style: normal;font-weight: normal;}
.google:before {content: "\f1a0";font-family: FontAwesome;font-style: normal;font-weight: normal;}
.yahoo:before {content: "\f19e";font-family: FontAwesome;font-style: normal;font-weight: normal;}
.icon-bing:before {content: "\e600";font-style: normal;font-weight: normal;}
.icon-impressions:before {content: "\e602";font-style: normal;font-weight: normal;}
.icon-clicks:before {content: "\e603";font-style: normal;font-weight: normal;}
.listen:before {content: "\f028";font-family: FontAwesome;font-style: normal;font-weight: normal;}
.cursor:before {content: "\e603";font-style: normal;font-weight: normal;}
.calls:before {content: "\f095";font-family: FontAwesome;font-style: normal;font-weight: normal;}
.topFilter .selected .filterIcon:before {content: "\f0de";font-family: FontAwesome;font-style: normal;font-weight: normal;}

.line-graph:before {content: "\f201";font-family: FontAwesome;font-style: normal;font-weight: normal;}
.avgPos:before {content: "\f080";font-family: FontAwesome;font-style: normal;font-weight: normal;}
.eye:before {content: "\f06e";font-family: FontAwesome;font-style: normal;font-weight: normal;}
.emails:before {content: "\f0e0";font-family: FontAwesome;font-style: normal;font-weight: normal;}
.forms:before {content: "\f022";font-family: FontAwesome;font-style: normal;font-weight: normal;}
.dollar-sign:before {content: "\f155";font-family: FontAwesome;font-style: normal;font-weight: normal;}
.ctr:before {content: "\f0a6";font-family: FontAwesome;font-style: normal;font-weight: normal;}
.pageViews:before {content: "\f06e";font-family: FontAwesome;font-style: normal;font-weight: normal;}
.filterToolTip:before {content: "\f059";font-family: FontAwesome;font-style: normal;font-weight: normal;}
.subTabToolTip:before {content: "\f059";font-family: FontAwesome;font-style: normal;font-weight: normal;}
.carrot-left {content: "\f0d9";font-family: FontAwesome;font-style: normal;font-weight: normal;}
.carrot-right {content: "\f0da";font-family: FontAwesome;font-style: normal;font-weight: normal;}


