/* Localedge Standards

* Styles set for actual standards

*/

/* -------------------------------------------------------------------------
 Colors
---------------------------------------------------------------------------- */
.sg-color--a .sg-color-swatch {background: #477DB3;}
.sg-color--b .sg-color-swatch {background: #f79720;}
.sg-color--c .sg-color-swatch {background: #f9f9f9;}
.sg-color--d .sg-color-swatch {background: #edeced;}
.sg-color--e .sg-color-swatch {background: #cbcccb;}
.sg-color--f .sg-color-swatch {background: #4c5965;}
.sg-color--g .sg-color-swatch {background: #364149;}


